---
---

{% if generate_chm == 0 %}
{% else %}
@font-face {
  font-family: 'Segoe UI';
  src: url(https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot);
  src: local("Segoe UI"), url(https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix) format("embedded-opentype"), url(https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype"), url(https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web) format("svg");
  font-weight: 400;
  font-style: normal; }
{% endif %}

@import "WebCore.4.10.0.ltr.light.min";

html {
  font-family:sans-serif;
  line-height:1.15;
  margin-left: 10px;
}

/* Broad style from bootstrap, overridden in some cases later in file */
body h1, body h2, body h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Spacing issues */
body p {
    margin-bottom: 20px;
    
}

body h1 {
    margin-bottom: 32px;
    font-size:2em;
    margin:.67em 0;
}
body h1 {font-size:2.5rem;margin-top:10px}
body h2{font-size:1.75rem;margin-top:32px}
body h3{font-size:1.188rem;margin-top:30px}
 body h4{font-size:1rem;margin-top:36px;margin-bottom:6px}
 body h5{font-size:.9rem}
 body h5, h6{letter-spacing:1px;margin-top:36px;margin-bottom:6px}
 body h6{font-size:.8rem}
/*
body h2{

}

body h3 {
    margin-bottom: 20px;
}

body h4, body h5, body h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
*/
/* List style issues */
body ul, body ol {
    padding-left: 40px;
}

body ul {
    list-style: disc;
}

body ul ul, body ol ul {
    list-style: circle;
}

    body ul ul ul, body ul ol ul, body ol ul ul, body ol ol ul {
        list-style: square;
    }

body ul li {
    margin-bottom: 20px;
}

body {
  position: relative;
}

.disclosure-open {
    transition: 0.25s linear;
    transform: rotate(90deg);
    padding: 5px;
    z-index: 9999;
    transition-property: transform;
}

.disclosure-closed {
  transition: 0.25s linear;
  transform: rotate(0deg);
  padding: 5px;
  z-index: 9999;
  transition-property: transform;
}

.halcyon-arrow-image {
  float: left;
  display: inline-block;
}

/*table {
  @extend .table
}*/


table
	{
  border-collapse: separate;
	width: 95%;
	background: #ffffff;
	margin-top: 5px;
	margin-bottom: 5px;
	}

table th
	{ 
    border-collapse: separate;
	padding: 5px 6px;
	background: #EFEFF7;
	text-align: left;
	vertical-align: bottom;
	border-bottom: 1px solid #C8CDDE;
  /*border-right: 1px solid #FFFFFF;*/
  margin-right: 2px;
	}
table td
	{ 
    border-collapse: separate;
	padding: 5px 5px;
	background: #F7F7FF;
	vertical-align: top;
	border-bottom: 1px solid #D5D5D3;
  /*border-right: 1px solid #FFFFFF;*/
	}




.halcyon-left-nav {
  top: 0;
  bottom:0;
}

.fixed-content {
    position:fixed;
}

$left-nav-width: 300px;
$right-nav-width: 200px;
$halcyon-nav-margin: 24px;
$halcyon-content-margin: 30px;
$total-nav-space: $left-nav-width + $right-nav-width + $halcyon-nav-margin + 2 * $halcyon-content-margin;

/* Make images in the content part of the page responsive - this may be changed later */
#halcyon-doc-content img {
  @extend .img-responsive;
}

#halcyon-left-nav {
  margin-left: $halcyon-nav-margin;
  float: left;
  left: auto;
}

#halcyon-left-nav-inner {
  width: $left-nav-width;
  overflow-y:auto;
  overflow-x:hidden;
}

#halcyon-doc-content {
  margin-left: $left-nav-width + $halcyon-nav-margin;
  margin-right: $halcyon-content-margin;
  padding-left: $halcyon-content-margin;
  padding-top: $halcyon-content-margin;
  width: calc(100% - #{$total-nav-space});
  position: relative;
}

#halcyon-doc-content-inner {
  float:left;
  width:100%;
  margin-left: 0px;
}

#halcyon-doc-content-inner ul li {
  margin-bottom: 12px; }

#halcyon-doc-content-inner ol li {
  margin-bottom: 12px; }

{% if generate_chm == 0 %}
{% else %}
h1, h2 {
  font-weight: 300;
}
{% endif %}

.halcyon-chm ul li {
  margin-bottom: 10px; }

.halcyon-chm ol li {
  margin-bottom: 10px; }

#halcyon-right-nav {
  width: $right-nav-width;
  float: right;

  ul.nav {
    top: 30px;
  }

  li {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0px;
    //border-left: solid 3px #ccc;
  }
}

#halcyon-right-nav{
  li.active {
    font-weight: bold;
  }

  ul {
    background-color: white;
  }
}

.side-nav span {
  margin-bottom: 0px !important;
}

.side-nav ul li {
  margin-bottom: 0px;
  margin-top: 0px !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

pre {
  word-break: inherit;
  word-wrap: inherit;
}

blockquote {
  background-color: #f7f7ff;
}

.dev-program-feature-start {
  border-top: 2pt solid black;
}

.xbl-features-automatic {
  background-color: rgb(210, 255, 210)
}

.xbl-features-required {
  background-color: rgb(170, 255, 170)
}

.xbl-features-notavailable {
  background-color: rgb(210, 210, 210)
}

.xbl-features-limited {
  background-color: rgb(244, 255, 144)
}

.xbl-features-optional {
  background-color: rgb(210, 233, 255)
}

.dev-program-feature-name {
  background-color: white;
  font-weight: bold;
}
